@import 'reset';
@import 'fonts';
@import 'colors';

html {
    font-family: $main-font;
    background-color: $bg-color;
    color: $main-color;
}

header, h1, h2, h3, h4, h5, h6{
    font-family: $header-font;
    color: $title-color;
}

#flex-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    header {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    footer {
        color: $footer-color;
        margin-top: auto;
        margin-bottom: 2em;
    }
}

#add {
    display: block;
    margin: 0 auto;
}

#head-row > * {
    display: inline-block;    
}

