@import 'reset';
@import 'fonts';
@import 'colors';

html {
    font-family: $main-font;
    background-color: $bg-color;
    color: $main-color;
}

header, h1, h2, h3, h4, h5, h6{
    font-family: $header-font;
    color: $title-color;
}

#flex-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    header {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    footer {
        color: $footer-color;
        margin-top: auto;
        margin-bottom: 2rem;
    }
}

#add {
    display: block;
    margin: 1rem auto;    
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: max-content;
}